index.html{
    background: url(img/Mountain\ Range.jpg) no repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}